*.o
*.a
*.in
*.log
*.status
*.cache/
*.out
*.guess
*.sub
.vice-texi-charset-ok
vice.pdf
GPATH
GRTAGS
GTAGS
config.*
depcomp
install-sh
missing
Makefile
.deps/
vsid
x128
x64dtv
x64sc
xcbm2
xcbm5x0
xpet
xplus4
xscpu64
xvic
ylwrap
petcat
c1541
cartconv
stamp-h1
version.h
vice-version.sh
siddefs.h
siddtvdefs.h
infocontrib.h
debug.h
compile
*.pdf
aclocal.m4
configure
AndroidManifest.xml
COPYING
INSTALL
wave6581_*.h
wave8580_*.h
svnversion.h
mon_lex.*
mon_parse.*
*.o65
