[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=Commodore 128
Name[ar]=Commodore 128
Name[be]=Commodore 128
Name[bg]=Commodore 128
Name[bn]=Commodore 128
Name[bs]=Commodore 128
Name[ca]=Commodore 128
Name[cs]=Commodore 128
Name[da]=Commodore 128
Name[de]=Commodore 128
Name[dz]=Commodore 128
Name[el]=Commodore 128
Name[eo]=Commodore 128
Name[es]=Commodore 128
Name[eu]=Commodore 128
Name[fi]=Commodore 128
Name[fr]=Commodore 128
Name[ga]=Commodore 128
Name[gl]=Commodore 128
Name[gu]=Commodore 128
Name[he]=Commodore 128
Name[hi]=Commodore 128
Name[hr]=Commodore 128
Name[hu]=Commodore 128
Name[id]=Commodore 128
Name[it]=Commodore 128
Name[ja]=Commodore 128
Name[ka]=Commodore 128
Name[km]=Commodore 128
Name[ko]=Commodore 128
Name[ku]=Commodore 128
Name[lt]=Commodore 128
Name[mk]=Commodore 128
Name[ml]=Commodore 128
Name[mr]=Commodore 128
Name[nb]=Commodore 128
Name[ne]=Commodore 128
Name[nl]=Commodore 128
Name[nn]=Commodore 128
Name[pa]=Commodore 128
Name[pl]=Commodore 128
Name[pt]=Commodore 128
Name[pt_BR]=Commodore 128
Name[ro]=Commodore 128
Name[ru]=Commodore 128
Name[sk]=Commodore 128
Name[sq]=Commodore 128
Name[sv]=Commodore 128
Name[ta]=Commodore 128
Name[th]=Commodore 128
Name[tl]=Commodore 128
Name[tr]=Commodore 128
Name[uk]=Commodore 128
Name[vi]=Commodore 128
Name[wo]=Commodore 128
Name[zh_CN]=Commodore 128
Name[zh_TW]=Commodore 128
GenericName=
Comment=
Icon=/usr/share/pixmaps/c128icon-32x28.xpm
Exec=/usr/bin/x128
Terminal=false
Categories=Application;X-Debian-Applications-Emulators;
